.itembox {
  margin-right: 2px;
  margin-bottom: 2px;
}

.itembox:nth-of-type(3n+1),
.itembox:nth-of-type(3n+2),
.itembox:nth-of-type(3n+3) {
  margin-bottom: 0;
}

.itembox:nth-of-type(3n+1),
.itembox:nth-of-type(3n+2),
.itembox:nth-of-type(3n+3) {
  margin-right: 0;
}